<% provide(:title, "#{@user.username}") %>

<div class="profile">
  <div class="row">
    <div class="col-sm-4">
      <div class="user-image">
        <% if @user.picture? %>
          <%= image_tag @user.picture.url %>
        <% else %>
          <%= image_tag("profile-pic.jpg") %>
        <% end %>
      </div>
      <h1><%= @user.username %></h1>
      <h4><%= @user.email %></h4>
      <% if @user == current_user %>
        <h5><%= link_to "Edit profile", edit_user_registration_path(@user.id) %></h5>
        <%= render 'friend_requests/requests_sent_recieved' %>
      <% else %>
        <% if current_user.friends.include?(@user) %>
          <%= render 'friends/unfriend' %>
        <% else %>
          <%= render 'friend_requests/send_request' %>
        <% end %>
      <% end %>
      <%= render 'friends/friends' %>
    </div>
    <div class="col-sm-8">
      <%= render 'events/events_joined' %>
    </div>
  </div>

      
</div>
