<% provide(:title, "Home") %>
<h1>EventsManager</h1>

<% @events.each_with_index do |event, index| %>
  <div class="col-md-4">
    <div class="event">
      <h4><%= event.title %></h4>
      <h5><%= resume(event.body) %></h5>
      <div class="details">
        <h4>
          <%= event.date.to_s.split(" ")[0].split("-").reverse.join("/") %> || @
          <%= event.location %>
          <%= link_to "Show", event_path(event.id), class: "pull-right" %>
        </h4>
      </div>
    </div>
  </div>
<% end %>
