<% provide(:title, "#{@event.title}") %>



<div class="event">
  <h1><%= @event.title %></h1>
  <%= image_tag @event.picture.url, class: "image" if @event.picture? %>
  <h4><%= @event.body %></h4>
  <h4>
    <%= @event.date.to_s.split(" ")[0].split("-").reverse.join("/") %> || @
    <%= @event.location %>
    <%= link_to "Edit", edit_event_path(@event.id), class: "pull-right" %> ||
    <%= link_to "Delete", event_path(@event.id), method: :delete,
                                                 data: { confirm: "Are you sure?" },
                                                 class: "pull-right" %></h4>

  <h3> Guests </h3>
  <p>
    <% @event_guests.each do |guest| %>
      <%= guest.username %><%= "," unless guest == @event_guests.last %>
    <% end %>
  </p>
</div>


<% if @event.guests.exists?(current_user.id) %>
  <div class="event">
    <h3> Leave </h3>
    <%= form_for(:add, url: events_remove_guest_path)  do |f| %>

      <%= f.hidden_field :guest_id, value: current_user.id %>
      <%= f.hidden_field :event_id, value: @event.id %>

      <%= f.submit "Leave", class: "form-control btn btn-success" %>

    <% end %>
  </div>
<% else %>
  <div class="event">
  <h3> Join </h3>
    <%= form_for(:add, url: events_add_guest_path)  do |f| %>

      <%= f.hidden_field :guest_id, value: current_user.id %>
      <%= f.hidden_field :event_id, value: @event.id %>

      <%= f.submit "Join", class: "form-control btn btn-success" %>

    <% end %>
  </div>
<% end %>
