<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | EventManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="wrapper">
        <div class="overlay"></div>

          <%= render 'layouts/sidebar' %>

          <div id="page-content-wrapper">
              <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                  <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
          <span class="hamb-bottom"></span>
              </button>
              <div class="container">
                  <div class="row">
                      <div class="col-lg-8 col-lg-offset-2">
                        <% if notice %>
                          <div class="alert alert-success"><%= notice %></div>
                        <% elsif alert %>
                          <div class="alert alert-danger"><%= alert %></div>
                        <% else %>
                          <% flash.each do |message_type, message| %>
                            <div class="alert alert-<%= message_type %>"><%= message %></div>
                          <% end %>
                        <% end %>

                        <%= yield %>
                  </div>
              </div>
          </div>
          <!-- /#page-content-wrapper -->

      </div>

  </body>
</html>
